* {
  box-sizing: border-box;
}
.invisible {
  display: none !important;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
  'PT Sans',
  "HelveticaNeue-Light",
  "Helvetica Neue Light",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Lucida Grande",
  sans-serif;
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: #c4d4d8;
  font-size: 60%;
  margin: 5px;
  text-align: left;
}

.description {
  color: #d2662a;
  text-align: center;
  font-size: 140%;
  margin: 10px;
  margin-top: 30px;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 20px 20px 10px 20px;
  max-height: 70vh;
}

.message.typing .messageBody {
  color: gray;
}
.messageBody{
  color:whitesmoke;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  margin-left: 20px;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  right: 0;
  width: 100%;
  background-color: rgba(226, 210, 210, 0.53);
  color:white;
  max-width: 80%;
}

.inputMessage::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: whitesmoke;
  opacity: 1; /* Firefox */
}

.inputMessage:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: whitesmoke;
}

.inputMessage::-ms-input-placeholder { /* Microsoft Edge */
  color: whitesmoke;
}

.chat{
  margin-left: 10px;
  margin-right: 10px;
}

button
{
  margin-top: 10px;
}

#root {
  top:0;
  width:100%;
  z-index:0;
  height:100%;
  background-size:cover;
  background-repeat: repeat-y;
}
  
html
{
  background-image: linear-gradient(to bottom right,#0f4161,#733c24);
 }
#root  *
 {
  background-image: none;
  z-index:15;
 }

 .login.page
 {
  opacity: .99;
 }


 .btn {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn.default-btn {
  background-color: #005780;
  font-size: 120%;
}

.btn.default-btn:hover, .btn.default-btn:focus {
  background-color: #8ab3cb;
}

.estimation-result {
  background-color: #9c9c902e;
  padding-left: 50px;
  max-width: 350px;
}




.deck {
  display: table-cell;
  vertical-align: middle;
}

/* --- CARD SETTINGS --- */

.deck>span>input,
.deck>span>u,
.deck>span>b {
  width: 86px;
  height: 129px;
  position: relative;
}

.deck>span>input {
  margin: 0 5px 10px;
  z-index: 999 !important;
  cursor: pointer;
  opacity: 0;
}

.deck>span>u,
.deck>span>b {
  left: -5px; /* Subtract margin value */
  margin-left: -86px; /* Subtract width value */
  display: inline-block;
  text-align: center;
  vertical-align: top;
  border: 5px solid #f8fff9;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* --- FRONT CONTENT --- */

.deck>span>u{
  background: #f8fff9;
  text-decoration: none;
  font: italic 12px Arial, Helvetica, sans-serif;
  color: grey;
}

.deck>span>u::first-line{
  font: 50px/70px Arial, Helvetica, sans-serif;
  color: orange;
}

.deck>span>u>b {
  font: bold 10px "Comic Sans MS", cursive, sans-serif;
  color: teal;
  display: block;
  margin-top: -10px;
}

/* --- BACK CONTENT --- */

.deck>span>b {
  background: #2d5a7d !important;
  border: 5px solid #f8fff9;
  box-sizing: border-box;
}

.deck>span>b::before,
.deck>span>b::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: url('https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-White-Small.png') center/36px;
  border-radius: inherit;
  opacity: .3;
}

.deck>span>b::after {
  background-position: calc(50% + 18px) calc(50% + 18px);
}

/* --- ANIMATION AND 3D SETTINGS --- */

.deck {
  perspective: 1450px;
}

.deck>span>u,
.deck>span>b {
  transition: all .8s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  z-index: 0;
}

.deck>span>input:checked + u,
.deck>span>input:checked + u + b {
  z-index: 100;
}

.deck>span>input:focus + u,
.deck>span>input:focus + u + b {
  transition-property:  transform, filter, box-shadow; /* Exclude z-index to immediately overlay */
  outline: 0;
  z-index: 900;
}

/* --- FRONT ANIMATION --- */

.deck>span>u {
  transform: translateX(160%) rotateY(-180deg);
  transform-origin: -30% center;
  box-shadow: 130px 30px 40px -20px rgba(0, 0, 0, 0);
  filter: brightness(3);
}

.deck>span>input:checked + u {
  transform: translateX(0%) rotateY(0deg);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
  filter: brightness(1);
}

/* --- BACK ANIMATION --- */

.deck>span>b {
  transform: translateX(0%) rotateY(0deg);
  transform-origin: 130% center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
  filter: brightness(1);
}

.deck>span>input:checked + u + b {
  transform: translateX(-160%) rotateY(180deg);
  box-shadow: 80px 10px 20px -40px rgba(0, 0, 0, 0);
  filter: brightness(0);
}

/* Edge hack - Prevent click during transition, otherwise the animation breaks */

@supports (-ms-ime-align:auto) {
  .deck>span>input {
    animation: step-end .8s; /*Time is the same as the main transition*/
  }
  .deck>span>u,
  .deck>span>b {
    cursor: pointer;
  }

  .deck>span>input:checked {
    animation-name: noclick1;
  }

  .deck>span>input:not(:checked) {
    animation-name: noclick2;
  }

  @keyframes noclick1 {
    0%   { visibility: hidden; }
    100% { visibility: visible; }
  }

  @keyframes noclick2 {
    0%   { visibility: hidden; }
    100% { visibility: visible; }
  }
}


.table {
  position: relative;
  margin: 0 auto;
  padding: 18px 18px 30px;
  display: table;
  line-height: 0;
}
.action-area{
  margin-top:10px;
}
.custom-scope-title{
    color: white;
    padding-left: 25px;
}
.estimation-message{
    width: 300px;
    height: 40px;
    border: none;
}